@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 5.5rem;
}

main {
  max-width: 1500px;
  margin: 0 auto;
}

.hero {
  background-image: url("/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-hero {
  background-image: url("/images/about-hero.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  /* padding: 8px 15px 8px 15px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 0px; */
  margin-bottom: 10px;
  margin-top: 2px;
  /* width: 100%; */
  /* box-sizing: border-box; */
  font-family: montserrat;
  /* color: #2c3e50; */
  /* background-color: #eceff1; */
  /* font-size: 16px; */
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #198754;
  outline-width: 0;
}

#msform .action-button {
  /* width: 100px; */
  /* background: #198754; */
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;
  /* color: white; */
  /* border: 0 none; */
  /* border-radius: 0px; */
  cursor: pointer;
  /* padding: 10px 5px; */
  margin: 10px 0px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #01117a;
}

#msform .action-button-previous {
  /* width: 100px; */
  /* background: #616161; */
  /* font-weight: bold; */
  font-family: "Poppins", sans-serif;
  /* color: white; */
  /* border: 0 none; */
  /* border-radius: 0px; */
  cursor: pointer;
  /* padding: 10px 5px; */
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

/* .fs-title {
  font-size: 25px;
  color: #198754;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
} */

.purple-text {
  color: #198754;
  font-weight: normal;
}

.steps {
  /* font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal; */
  text-align: right;
  margin-bottom: 20px;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #198754;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #electricity:before {
  font-family: FontAwesome;
  content: "\f0e7";
}

#progressbar #gas:before {
  font-family: FontAwesome;
  content: "\f06d";
}

#progressbar #broadband:before {
  font-family: FontAwesome;
  content: "\f1eb";
}

#progressbar #estimate:before {
  font-family: FontAwesome;
  content: "\e522";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #198754;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #198754;
}

@media (min-width: 1024px) {
  body {
    /* max-width: 95vw; */
    margin: 0 auto;
  }

  .hero {
    height: 85vh;
    width: 100vw;
  }

  .onboarding-form {
    height: 85vh;
    width: 50vw;
  }

  .priceCard {
    width: 30vw;
    height: fit-content;
  }

  .faqs {
    max-width: 900px;
    margin: 0 auto;
  }

  .how-it-works {
    max-width: 900px;
    margin: 0 auto;
  }

  .about {
    max-width: 1280px;
    margin: 0 auto;
  }
}
